* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
  color: #333;
  background-image: url(bg.png);
}

body a {
  color: #5e87ff;
}

#main {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 0 4em;
  background-color: #fff;
}

h1 {
  font-family: "Gochi Hand", "Georgia", serif;
  font-size: 30px;
  margin-bottom: 26px;
  color: #333;
}
h2 {
  font-family: "Helvetica neue", serif;
  font-size: 18px;
  margin: 48px 0 18px 0;
  color: #333;
}

pre {
  background: #f4f4f4;
  margin: 16px 4px;
  font-family: "Monaco", monospace;
  font-size: smaller;
  padding: 12px 10px;
  color: #333;
  border-radius: 3px;
  border: 1px solid #ddd;
}

pre comment {
  color: #999;
  font-weight: lighter;
}

pre strong {
  color: #555;
}

p {
  margin: 20px 0;
  line-height: 1.4;
}

#main code {
  font-family: "Monaco", monospace;
  font-size: smaller;
  background: rgb(252, 229,189);
  border-radius: 4px;
  padding: 1px 4px;
  color: #333;
  border: 1px solid rgba(0,0,0,0.1);
}

span.error {
  color: red;
}

ul.topics {
  list-style-type: square;
  padding-left: 22px;
}
